body{
    background-color: #F4F4F4;
    height: 100vh;
    overflow: hidden;
    /* font-family: 'Poppins'; */
}
.card{height: 500px;}
.card-header{
    color: #1c4068;
}

center{
    font-size: 14px !important;
}
.pgcalc-logo{
    background-image: url(../img/pgcalc-logo.png);
    height: 160px;
    background-repeat: no-repeat
}

.top-header{
    background: linear-gradient(to right, #2E244F, #1A4269);
    color: white;
    font-size: 14px;
}
p span{font-weight: bold;}
.navbar{
    background: linear-gradient(to right, #2E244F, #1A4269);
}
.cursor-pointer {
    cursor: pointer;
}
.menu{
    background: linear-gradient(to bottom, #C7C7C7,#fff,#fff, #C7C7C7);
    height: 100%;
}
.logo{height: 100%;}
.logo img{height: 100%;}

.alert{font-size: 14px;}
.fw-medium >  .dropdown > a{
    font-weight: 600;
    border-left:1px solid #D9D9D9;
}
.nav-text{
    font-size: 12px;
    font-weight: 700;
}

.nav-link{
    font-size: 12px;
    font-weight: 600;
    color: black;
    transition: color 0.3s ease;
}

.nav-link:hover{color: #215e3b !important;}

.dropdown{
    height: 19px;
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -17px;
    margin-top: var(--bs-dropdown-spacer);
}
.dropdown-menu{width: 1010px;}

.fw-medium > div{
    font-weight: bold !important;
    border-left:1px solid #D9D9D9;
}
.fw-medium > div:last-child{
    border-right:1px solid #D9D9D9;
}
.bg-light{background: #EDEDED !important;}
.card-tab {background:linear-gradient(to bottom right, #FFBD96,#FE8E91, #FE8EAB);  box-shadow: 0px 2px 5px #0000002f;transition: box-shadow 0.3s ease;}
.card-tab1{background:linear-gradient(to bottom right, #BDD6FC,#638FD1, #295AA4); box-shadow: 0px 2px 5px #0000002f;transition: box-shadow 0.3s ease;}
.card-tab2{background:linear-gradient(to bottom right, #C2F6F2,#48DAC5, #3AD7BE); box-shadow: 0px 2px 5px #0000002f;transition: box-shadow 0.3s ease;}
.card-tab3{background:linear-gradient(to bottom right, #FFBD96,#FBB562, #FD7716); box-shadow: 0px 2px 5px #0000002f;transition: box-shadow 0.3s ease;}
.card-tab4{background:linear-gradient(to bottom right, #FBEF88,#F2E145, #FFE70B); box-shadow: 0px 2px 5px #0000002f;transition: box-shadow 0.3s ease;}
.card-tab5{background:linear-gradient(to bottom right, #42BD76,#3DA469, #56E593); box-shadow: 0px 2px 5px #0000002f;transition: box-shadow 0.3s ease;}
.card-title{font-size: 20px; color: rgba(0, 0, 0, 0.61);}
.card-image{width: 110px;height: 110px;}
.card-image1{width:110px;height: 110px;}
.card-tab:hover{box-shadow: 0px 2px 15px #FE9A92;}
.card-tab1:hover{box-shadow: 0px 2px 15px #79A0DC;}
.card-tab2:hover{box-shadow: 0px 2px 15px #67E1D0;}
.card-tab3:hover{box-shadow: 0px 2px 15px #FBA049;}
.card-tab4:hover{box-shadow: 0px 2px 15px #F4E23B;}
.card-tab5:hover{box-shadow: 0px 2px 15px #3DA56A;}
thead{background: #1B4269 !important;}
th{background: transparent !important;border-right: 1px solid #fff; padding: 20px; color: #fff !important;}
.table{font-size: 12px !important;}
.form-check-label{font-size: 14px;}
.circle {
    width: 210px;
    height: 210px;
    background-color: rgba(255, 255, 255, 0.247);
    left: 150px;
    top: 100px;  
}
.circle1{
    width: 182px;
    height: 182px;
    background-color: rgba(255, 255, 255, 0.151);
    left: 250px;
    top: -40px; 
}

/* ======================== */

.bg-login{
    background-image: url(../img/login-bg.png);
    background-size: cover;
    background-position: center;
    /* object-fit: fill; */
    height: 100vh;
  
}
.form-signin > form {
    position: absolute;
    top: 85px;
    /* right: 0px; */
    width: 70%;
}

.bg-light-card{
    background-color: rgba(255, 255, 255, .6);
    border-radius: 8px;
    border:1.5px solid rgba(255, 255, 255, .6)  ;
   
    /* background-blend-mode: multiply; */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
}

.menu > .container  {
    padding-left: 5.5rem !important;
    padding-right: 4.5rem !important;
}
.navbar > .container{ 
    padding-left: 4rem !important;
    padding-right: 2rem !important;
 }

/* .container.py-4.z-0{
    padding-left: 6rem !important;
    padding-right: 4.5rem !important;
} */

.footer > p{
    font-size: 12px;
}

.nav-link1{text-decoration: none;color: #000;font-size: 14px;}
.nav-pills .nav-link1.active {
    background-color: #1B4269;
    border-radius: 0%;
    color: #fff;
}
/* .nav-pills .nav-link1:hover{
    color: white !important;
} */
.nav-pills .nav-link1{
    background-color: #EBEBEB;
    border-radius: 0%;
    border-right: 1px solid #C9C9C9;
}
.input-body{
    background-color:#F6F6F6;

}
.form-input{font-size: 12px;display: flex;}
.form-label{font-size: 12px;width: 50%;}
.form-control{border: 1px solid #DEE2E6;border-radius: 2px;font-size: 12px;}
.form-select{border: 1px solid #DEE2E6;border-radius: 2px;font-size: 12px;}
.btn-primary{background-color: #1B4269;border: none;}
.btn{font-size: 12px; border-radius: 2px;font-weight: bold !important;}
.card-header a{color: #1A4269 !important;}

/* ====================Media queries================ */


@media (min-width: 1400px) {
    .card{height: 578px;}
    .card-tab , .card-tab1 , .card-tab2,.card-tab3,.card-tab4,.card-tab5{height: 200px;}
    .card-body{height: -webkit-fill-available; display: flex; flex-direction: column; justify-content: space-evenly;}
    .card-image{height: 130px;width: 130px;}
}